.dropdown-container {
  position: absolute;
  width: 75%;
  top: 3.25rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  z-index: 1;
  transition: all 500ms;
}

.meal-desc {
  margin: .5rem 0rem;
}

.meal-ingredient-list {
  margin-top: .5rem;
}

@media (max-width: 678px) {
  .dropdown-container {
    width: 90%;
  }
}