.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0rem .01rem 1rem rgba(0, 0, 0, 0.3);
}

.nav-title {
  font-size: 1.75rem;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0rem 1.5rem;
  padding: 1rem 0.5rem;
  
  background-image: linear-gradient(lightblue, lightblue);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 400ms ease-in-out;
}

.nav-item:hover, .nav-item:focus {
  background-size: 100% 0.2em;
}