.recipe-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 85vh;
  padding: 2rem;
  margin: 3.5rem 3rem;
  text-align: center;
  background: rgb(244, 237, 228);
  border-radius: 25px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.recipe-content {
  margin: auto 2rem;
  width: 100%;
}

.recipe-desc {
  font-size: 1.5rem;
  margin: 1rem auto;
}

.recipe-img {
  width: 500px;
  border-radius: 50%;
}

.recipe-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: .5rem;
}

.recipe-tags i {
  padding: 1rem;
}

.recipe-links {
  width: 90%;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
}

.recipe-links a {
  text-decoration: none;
}

.recipe-source, .recipe-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
}

.recipe-source:hover {
  color: grey;
  transition: color 250ms ease-in-out;
}

.recipe-youtube:hover {
  color: rgba(255, 0, 0, 0.5);
  transition: color 250ms ease-in-out;
}

.fa-arrow-up-right-from-square, .fa-youtube {
  margin: 0rem .5rem;
}

.fa-youtube {
  color: red;
}

.recipe-ingredient-container {
  padding: 1rem;
}

.recipe-ingredient-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.recipe-ingredient {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.25rem;
  margin-top: .5rem;
}

.recipe-instruction-container {
  margin-top: 2rem;
  padding: 1rem;
}

.recipe-instruction-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.recipe-instruction {
  font-size: 1.25rem;
  text-align: left;
  margin-top: .5rem;
}

@media (max-width: 1600px) {
  .recipe-container {
    flex-direction: column;
  }
  
  .recipe-content {
    margin: auto;
  }

  .recipe-instruction-container {
    margin-top: 0rem;
  }

  .recipe-instruction {
    margin-top: 1rem;
  }
}

@media (max-width: 675px) {
  .recipe-container {
    margin: .75rem;
  }

  .recipe-img {
    width: 100%;
  }

  .recipe-tags {
    display: flex;
    flex-wrap: wrap;
  }
}