.recipeApp-container {
  text-align: center;
}

.category-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  gap: 3rem;
  place-content: center;
  place-items: center;
  padding: 3rem 0rem;
  margin: 0rem clamp(1rem, 2.5rem, 5rem);
}

.category-container {
  background: rgb(244, 237, 228);
  width: 100%;
  border-radius: 5%;
  padding: clamp(0.1rem, .125rem, .25rem);
  box-shadow: 0.25rem 0.25rem .5rem rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  overflow: hidden;
  transition: background-color 200ms ease-in-out;
}

.category-container:hover {
  background-color: rgba(180, 220, 204, 0.3);
  cursor: pointer;
}

.search-bar-container {
  padding-top: 2rem ;
}

.search-bar-container > input {
  width: 300px;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  border-radius: 15px;
  border: 0;
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.3);
}

.search-bar-container > input:focus {
  outline: none;
}

.search-button {
  margin: .75rem;
}

.search-button > button {
  padding: 1rem;
  margin: 0.5rem 0.75rem;
  border-radius: 25px;
  font-size: 1.25rem;
  border: 0;
  background: #AAA;
}

.search-button > button:hover {
  background: #CCC;
  cursor: pointer;
}

.error-msg {
  color: rgba(255, 0, 0, 0.7);
  font-size: 1.2rem;
}

.menu-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  gap: 3rem;
  place-content: center;
  place-items: center;
  padding: 3rem 0rem;
}